.App {
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
}

.App-container {
  display: block;
  max-width: 600px;
  padding: 32px 16px;
  height: fit-content;
  background-color: black;
}

.App-header {
  display: flex;
  color: white;
}

.App-name {
  margin-left: 10px;
  line-height: 44px;
  text-align: center;
}

.App-content {
  color: white;
  padding-bottom: 30px;
}

.App-button {
  background-color: deeppink;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  text-decoration: none;
}

.App-button:hover {
  background-color: rgb(246, 118, 186);
}